body {
    background-color: hwb(240 0% 98%);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#calculator {
    width: 320px;
    margin: 80px auto;
    padding: 20px;
    background-color: hwb(240 0% 98%);
    border-radius: 40px;
    box-shadow: 0 0 15px rgba(1, 0, 3, 0.1);
}

#display {
    width: 95%;
    height: 80px;
    background-color: hwb(240 0% 98%);
    border: none;
    color: #ebeded;
    font-size: 48px;
    text-align: right;
    margin-bottom: 20px;
    padding: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

button {
    padding: 20px;
    font-size: 28px;
    border: none;
    border-radius: 50%;
    background-color: #01030c;
    color: #e6d7e0;
    box-shadow: 0 2px 2px rgba(18, 2, 66, 0.2);
    cursor: pointer;
    transition: background-color 0.1s ease;
}

button:active {
    background-color: #6a6d13;
}

/* Operator buttons (/, *, +, -) */
button.operator {
    background-color: #08be11;
}

button.operator:active {
    background-color:rgb(111, 110, 98);
}

/* Clear button styling */
button.clear {
    grid-column: span 1;
    background-color: #01030c;
    border-radius: 20px;
}

button.clear:active {
    background-color: #070766;
}
